@import "../../App.scss";

.navbar {
  @include themify($themes) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    height: 50px;
    border-bottom: 1px solid themed("border");
    position: sticky;
    top: 0;
    background-color: themed("bg");
    color:themed("textColor");
    z-index: 997;
    @include mobile{
      padding: 10px 14px;
    }

    .left {
      display: flex;
      align-items: center;
      gap: 30px;

      @include mobile{
        gap: 5px;
      }

      img {
        width: 177px;
        height: 100px;
        margin-top: 5px;
      }

      .grid{
        @include mobile{
          display: none;
        }
        @include tablet{
          margin-left: 20px;
        }
        margin-left: 200px;
      }

      .search {
        display: flex;
        align-items: center;
        gap: 10px;
        border: 1px solid themed("border");
        border-radius: 5px;
        padding: 5px;
        
        


        input {
          border: none;
          width: 500px;
          background-color: transparent;
          color: themed("textColor");

          @include mobile{
            display: none;
            z-index: 998;
          }

          @include tablet{
            width: 200px;
          }
        }
      }

      .search {
        &.mobile{
          display: flex;
          align-items: center;
          gap: 10px;
          border: 1px solid themed("border");
          border-radius: 5px;
          padding: 5px;

          input {
            border: none;
            width: 500px;
            background-color: transparent;
            color: themed("textColor");
  
            @include mobile{
              z-index: 998;
            }
  
            @include tablet{
              width: 200px;
            }
        }
        }
      }

    }

    .searchContent{
      display: flex;
      align-items: start;
      gap: 10px;
      font-weight: 500;
      position: relative;
      margin-top: 40px;
      top: 0;


      @include mobile{
        display: none;
        z-index: 999;
      }


      .contain{

        position: absolute;
        font-size: 14px;
        
        .down{
          margin-top: 2px;
          margin-right:100px;
          margin-left: -900px;
          padding: 0.75rem;
          padding-top: 20px;
          border:1px solid;
          border-color:themed("bg"); 
          border-radius: .25rem;
          background-color: themed("bg");
          -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
          -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
          box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
          display: flex;
          align-items: center;
          gap: 20px;
          @include tablet{
            margin-left: -300px;
          }

          @media only screen and (max-width: 1700px) and (min-width: 1600px){
            margin-left: -770px;
            margin-right:50px;
          }

          @media only screen and (max-width: 1600px) and (min-width: 1000px){
            margin-left: -750px;
            margin-right:0px;
          }
          

          img{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
          }
          
          .name{
            padding: 5px;
            padding-right: 50px;
            cursor: pointer;
            display: flex;
            align-items: center;
            border-radius: 10px;
            margin-bottom: 10px;
            margin-top: 10px;
            color:themed("textColor");
          }
        }
      }
    }

    .searchContent{
      &.mobile{
        display: flex;
        align-items: start;
        gap: 10px;
        font-weight: 500;
        position: relative;
        margin-top: 40px;
        top: 0;
        z-index: 999;

  
  
        .contain{
          position: absolute;
          font-size: 14px;
          width: 120px;
          
          .down{
            margin-top: 2px;
            margin-right: 50px;
            margin-left: -305px;
            padding: 0.75rem;
            padding-top: 20px;
            border:1px solid;
            border-color:themed("bg"); 
            border-radius: .25rem;
            background-color: themed("bg");
            -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
            -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
            box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
            display: flex;
            align-items: center;
            gap: 20px;
            
  
            img{
              width: 40px;
              height: 40px;
              border-radius: 50%;
              object-fit: cover;
            }
            
            .name{
              padding: 5px;
              padding-right: 50px;
              cursor: pointer;
              display: flex;
              align-items: center;
              border-radius: 10px;
              margin-bottom: 10px;
              margin-top: 10px;
              color:themed("textColor");
            }
          }
        }
      }
    }

    .right {
      display: flex;
      align-items: center;
      gap: 20px;

      @include mobile{
        gap: 15px;
      }

      .notifications {
        position: absolute;
        top: 50px;
        right: 0;
        font-weight: 500;
        display: flex;
        flex-direction: column;
        padding: 10px;
        color:themed("textColor");
        background-color: themed("bgSoft");

        .nButton {
          width: 80%;
          padding: 5px;
          margin-top: 10px;
          background-color: #D61C09;
          color:white;
          border: none;
          border-radius: 5px;
          cursor: pointer;
        }
      }



      .user {
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 500;


        .dropdown{
          position: relative;
          font-size: 14px;
          .dropmenu{
            margin-top: 5px;
            margin-left: -120px;
            position: absolute;
            padding: 0.75rem;
            padding-top: 20px;
            border:1px solid;
            border-color:themed("bg"); 
            border-radius: .25rem;
            background-color: themed("bg");
            -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
            -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
            box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
          }
          .pro{
            padding: 5px;
            padding-right: 50px;
            cursor: pointer;
            display: flex;
            align-items: center;
            border-radius: 10px;
            &:hover {
              background-color: grey;
            }
            margin-bottom: 10px;
            margin-top: 10px;
            color:themed("textColor");
          }
          .sign{
            padding: 5px;
            padding-right: 50px;
            cursor: pointer;
            display: flex;
            align-items: center;
            border-radius: 10px;
            &:hover {
              background-color: grey;
            }
            margin-bottom: 5px;
          }
        }

        .menu{
          font-size: 14px;
          cursor: pointer;
          margin-left: 25px;
        }


        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          object-fit: cover;
          cursor: pointer;
        }

        span {
        }
      }
    }
  }
}