@import "../../App.scss";

.leftBar {
    @include themify($themes) {
      flex: 2;
      position: sticky;
      top: 70px;
      height: calc(100vh - 70px);
      overflow: scroll;
      background-color: themed("bgSoft");
      color: themed("textColor");
  
      @include mobile{
        display: none;
      }

      @include tablet{
        display: none;
      }
  
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }